@media only screen and (min-width: 40em) {


    header {
        background: gray;
        padding: 1rem;
        grid-column: 1 / 4;
        position: relative;
        text-align: center;
    }

    #site-title {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
    }

    #course-title {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        display: block;
    }

    #nav-button {
        display: none;
    }

    .navigation {
        /* position: absolute; */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.5rem;
        line-height: .5rem;
        display: block;
        background-color: black;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    .navigation li {
        display: flex;
        flex: 1 1 auto;
    }

    .navigation a {
        display: block;
        color: white;
        background-color: black;
        /* padding: 1rem; */
        text-decoration: none;
        font-size: 1rem;
    }

    .navigation a:hover {
        color: tomato;
        text-decoration: underline;
    }

    #joinPage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #joinPage h1 {
        grid-column: 1/3;
    }

    .layer2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-top: 5px;
        background-color: white;
    }

    .curevent {
        grid-column: 1/3;
    }

    .curevent img {
        width: 200px;
        height: auto;
    }



    #curweather {
        grid-column: 3/4;
    }


    #forecast-sec {
        grid-column: 4/5;
    }

    .grid,
    #sptlit {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
        background-color: white;

        section {
            text-align: center;
        }

        &>* {
            margin: 0 1rem;
        }

        img {
            border: 1px solid #fff;
            box-shadow: 0 0 1rem #555;
        }
    }

    h3 {
        font-size: 1.2rem;
    }

    .list {
        display: flex;
        flex-direction: column;

        section {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            margin: 0;
            padding: 0.25rem;

            &>* {
                margin: 0 1rem;
            }

            h3 {
                font-size: 1rem;
            }

            &:nth-child(even) {
                background-color: #bbb;
            }
        }
    }

    footer {
        display: flex;
        padding: 2rem;
        grid-column: 1 / 4;
        justify-content: center;
    }

    .media-links img {
        margin: 4rem 3rem;
    }

}