.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.site-title {
    display: grid;
    grid-template-columns: 24px auto 44px;
}

.navigation li {
    display: none;
}

.header.show .navigation li {
    display: block;
    text-align: center;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
    background-color: grey;
    color: white;
    border: 2px solid black;
}

h2 {
    display: block;
    background: black;
    color: white;
    text-align: center;
}


.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #333;
    text-align: center;

    button {
        padding: 0.5rem 1rem;
        font-weight: 700;
    }
}

section {
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0.5rem;
    background-color: #ddd;

    h3 {
        font-size: 1.5rem;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero a {
    position: absolute;
    text-align: center;
    height: 70px;
    font-size: 55px;
    background-color: white;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
}

.curevent {
    text-align: center;
}

.wdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forecast {
    text-align: center;
}

img {
    width: auto;
    height: 75px;
}

footer {
    background: lightgray;
    color: black;
    text-align: center;
}


.media-links img {
    height: 50px;
    width: auto;
    margin: 1rem 1rem;
}