@media only screen and (min-width: 40em) {

    body {
        display: grid;
        height: 100vh;
        grid-template: auto 1fr auto;
        font-family: 'Roboto', sans-serif;
    }

    header {
        background: gray;
        padding: 1rem;
        grid-column: 1 / 4;
        position: relative;
        text-align: center;
    }

    #site-title {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
    }

    #course-title {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        display: block;
    }

    .navigation {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        line-height: .5rem;
        display: block;
        background-color: black;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        display: block;
        color: white;
        background-color: black;
        /* padding: 1rem; */
        text-decoration: none;
        font-size: 1rem;
    }

    .navigation a:hover {
        color: tomato;
        text-decoration: underline;
    }


    main {
        background: white;
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 1rem;
    }

    h1 {
        grid-column: 1 / -1;
        height: 10px;
    }

    .card {
        grid-column: 1 / 2;
    }

    .right-sidebar {
        grid-column: 2 / 3;
    }

    #lower {
        grid-column: 1 / -1;
    }

    #lower ul {
        display: flex;
        list-style: none;
        text-align: center;
    }


    #lower a {
        display: block;
        text-decoration: none;
        padding: 1rem;
        background-color: grey;
        border: 1px solid black;
        border-radius: 6px;
        margin: 10px;
    }

    #lower a::after {
        content: " Courses"
    }

    footer {
        padding: 2rem;
        grid-column: 1 / 4;
    }

    .media-links img {
        margin: 1rem 3rem;
    }

    .left-sidebar,
    .right-sidebar {
        padding: 1rem;
    }
}