.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.site-title {
    display: grid;
    grid-template-columns: 24px auto 44px;
}

.navigation li {
    display: none;
}

.header.show .navigation li {
    display: block;
    text-align: center;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
    background-color: grey;
    color: white;
    border: 2px solid black;
}

h2 {
    display: block;
    background: black;
    color: white;
    text-align: center;
}

.card {
    background: grey;
}

.right-sidebar {
    background: darkgray;
    text-align: center;
}

#lower ul {
    display: flex;
    list-style: none;
    justify-content: center;
}


#lower a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    text-align: center;
}

#courseCount {
    text-align: center;
}

#courseList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

.incomplete {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    text-align: center;
}

.complete {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.media-links {
    background-color: white;
}

.media-links img {
    height: 50px;
    width: auto;
    margin: 1rem 1rem;
}