h1 {
    margin: 0;
    font-weight: normal;
    display: block;
    background-color: green;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: green;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: red;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

ul {
    list-style-type: square;
    width: fit-content;
    margin: 0 auto;
    text-align: center;

}